<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="stylesheets.css">

        <title>Discord Template - Dashboard</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://kit.fontawesome.com/faa656be40.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <%- include('Partials/headers'); %>
        <main class="ml-32 mt-44">
            <span class="uppercase font-extrabold text-lg">
                Home
            </span>
            <div class="mt-10 rounded-lg p-2 w-[1700px]">
                Main content
            </div>
        </main>
    </body>
</html>